<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>许洋介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
                                           领取阿里云通用云产品1888优惠券
                <br><a target="_blank" href="https://www.aliyun.com/minisite/goods?userCode=brki8iof">https://www.aliyun.com/minisite/goods?userCode=brki8iof</a><br>
                                           领取腾讯云通用云产品2860优惠券
                <br><a target="_blank" href="https://cloud.tencent.com/redirect.php?redirect=1025&cps_key=198c8df2ed259157187173bc7f4f32fd&from=console">https://cloud.tencent.com/redirect.php?redirect=1025&cps_key=198c8df2ed259157187173bc7f4f32fd&from=console</a><br>
                <h4 class="text-danger">云产品通用红包，可叠加官网常规优惠使用。(仅限新用户)</h4>
            </blockquote>

            <hr>
        </div>
        <div class="col-sm-3">
            <h2>Hello,Guest</h2>
            <small>移动设备访问请扫描以下二维码：</small>
            <br>
            <br>
            <img th:src="@{/img/qr_code.png}" width="100%" style="max-width:264px;">
            <br>
        </div>
        <div class="col-sm-5">
            <h2>许洋后台管理框架</h2>
            <p>此系统是根据若依后台管理系统进行的一次改造，是自己对springboot这块的一个探索项目，有点窃取他人成果，在此道歉。</p>
            <br>
        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：Spring Boot。</li>
                <li>安全框架：Apache Shiro。</li>
                <li>模板引擎：Thymeleaf。</li>
                <li>持久层框架：MyBatis。</li>
				<li>定时任务:Quartz。</li>
                <li>数据库连接池：Druid。</li>
                <li>工具类：Fastjson。</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-4">

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>
                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ：</a>
                        </p>
                        <p><i class="fa fa-weixin"></i> 微信：<a href="javascript:;"></a>
                        </p>
                        <p><i class="fa fa-credit-card"></i> 支付宝：<a href="javascript:;" class="支付宝信息"></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
						<div class="panel-body">
							<div class="panel-group" id="version">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h5 class="panel-title">
											<a data-toggle="collapse" data-parent="#version" href="#v41">v4.1.0</a><code
												class="pull-right">2019.10.22</code>
										</h5>
									</div>
									<div id="v41" class="panel-collapse collapse in">
										<div class="panel-body">
											<ol>
												<li>支持多表格实例操作</li>
												<li>浮动提示方法tooltip支持弹窗</li>
												<li>代码生成&字典数据支持模糊条件查询</li>
												<li>增加页签全屏方法</li>
												<li>增加清除表单验证错误信息方法</li>
												<li>支持iframe局部刷新页面</li>
												<li>支持在线切换主题</li>
												<li>修改图片预览设置的高宽参数颠倒问题</li>
												<li>操作日志新增解锁账户功能</li>
												<li>管理员用户&角色不允许操作</li>
												<li>去掉jsoup包调用自定义转义工具</li>
												<li>添加时间轴示例</li>
												<li>修复翻页记住选择时获取指定列值的问题</li>
												<li>代码生成sql脚本添加导出按钮</li>
												<li>添加表格父子视图示例</li>
												<li>添加表格行内编辑示例</li>
												<li>升级fastjson到最新版1.2.60 阻止漏洞攻击</li>
												<li>升级echarts到最新版4.2.1</li>
												<li>操作日志新增返回参数</li>
												<li>支持mybatis通配符扫描任意多个包</li>
												<li>权限验证多种情况处理</li>
												<li>修复树形类型的代码生成的部分必要属性无法显示</li>
												<li>修复非表格插件情况下重置出现异常</li>
												<li>修复富文本编辑器有序列表冲突</li>
												<li>代码生成表前缀配置支持多个</li>
												<li>修复自动去除表前缀配置无效问题</li>
												<li>菜单列表按钮数据可见不显示（权限标识控制）</li>
												<li>修复设置会话超时时间无效问题</li>
												<li>新增本地资源通用下载方法</li>
												<li>操作日志记录新增请求方式</li>
												<li>代码生成单选按钮属性重名修复</li>
												<li>优化select2下拉框宽度不会随浏览器改变</li>
												<li>修复代码生成树表异常</li>
												<li>其他细节优化</li>
											</ol>
										</div>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>捐赠</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            	保留特效（点击图片放大）
                        </div>
                        <p id="pay-qrcode">
                            <a href="javascript:;"><img th:src="@{/img/pay.png}" width="100%" alt="请使用手机支付宝或者微信扫码支付">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', 'auto'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
